<h1 class="mt-4 ml-4 text-4xl font-bold text-gray-800">Quiz</h1>

<div class="flex justify-center min-h-screen">
  <div class="w-full max-w-[1080px]">
    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off" *ngIf="form">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <div class="flex justify-center w-full gap-4">
        <button (click)="save()" type="button" class="px-4 py-1 bg-gray-100 border border-gray-500 rounded-lg">
          Save
        </button>
        <button type="submit" class="px-4 py-1 bg-gray-100 border border-gray-500 rounded-lg">Submit</button>
      </div>
    </form>
  </div>
</div>
