<h1 class="mt-4 ml-4 text-4xl font-bold text-gray-800">Register</h1>

<div class="flex items-center justify-center min-h-screen p-4">
  <div class="p-8 bg-gray-200 border-2 border-gray-500 shadow-md w-96 rounded-xl">
    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off" *ngIf="form">
      <p class="font-bold">Register</p>
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <button type="submit" class="px-4 py-1 bg-gray-100 border border-gray-500 rounded-lg">Go</button>
    </form>
  </div>
</div>
